/AIchess
/emotionDetector
/faceDetection
/Flask
/ImageForgeryDetection
/JointTracker
/MathSolver
/MazeSolver
/NewsSummarizer
/NLPChatbot
/RealFakeFace
/VideoAudioToText
/Web Scraper
/Wifi
/WiFi_FileTransfer